@font-face {
  font-family: "Odin";
  src: url("./fonts/norse-bold-webfont.woff2") format("woff2"),
    url("./fonts/norse-bold-webfont.woff") format("woff");
}
body {
  box-sizing: border-box;
  margin: 0 0 0 30vw;
  padding: 0;
}

.logo {
  background-color: rgba(0, 0, 0, 0.6);
  height: 80px;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40%;
}

.logo img {
  height: 90%;
  width: auto;
}

.logo p {
  margin: 0;
  font-family: "Odin";
  font-size: 50px;
  color: white;
}

figure {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
}

img {
  height: 100vh;
  width: 30vw;
  object-fit: cover;
  object-position: 85%;
}
figcaption {
  position: relative;
  bottom: 40px;
  color: white;
  font-size: 12px;
  text-align: center;
}
figcaption a {
  text-decoration: none;
  color: white;
}
.logo {
  background-color: rgba(0, 0, 0, 0.4);
  height: 80px;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 700px;
}

.logo img {
  height: 90%;
  width: auto;
}

.logo p {
  margin: 0;
  font-family: "Odin";
  font-size: 50px;
  color: white;
}
